.table list{
	width: 90%;
	align: center;
}
#pagination{
	margin-left: auto;
    margin-right: auto;
	width: 100%;
	height: 8%;
	background-color: silver;
	text-align: center;
}

.page {
  vertical-align: center;
  display: inline-block;
  margin: 2px;
}

p.tags{
	color: silver;
}

p.comments{
	color: red;
}

p.date{
	text-decoration: underline;
}

body{
	position: relative;
}
button.delete{
	float: right;
}