h1.header{
	margin-top: 1%;
	margin-left: 5%;
	color: #ffffff;
}
a.header{
	color: #ffffff;
	margin-top: 6%;
	align: right;
	vertical-align: bottom;
}
table.header{
	width: 100%;
	cellpadding: 2;
	height: 20%;
	background-color: #145DA4;
}