p.newsTitle {
	text-align: center;
	font-size: 25px;
	color: #145DA4;
}

p.newsShort {
	font-size: 25px;
}

p.newsFull {
	font-size: 18px;
}

p.newsAuthor {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	color: #145DA4;
}

p.newsTags {
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	color: #145DA4;
}

p.newsDate {
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}
td.buttons {
	text-align: right;
}

td.commentButton {
	text-align: right;	
}

table.back {
	width: 100%;
	vertical-align: top;
	color: #0000ff;
}

table.news {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
table.addComment {
	width: 50%;
	margin-left: 5%;
	margin-right: 5%;
}

table.pagination {
	width: 100%;
	vertical-align: bottom;
	margin-bottom: 0px;
}

table.comments {
	width: 50%;
	margin-left: 5%;
}

td.commentText {
	font-size: 15px;
}

td.commentDate {
	font-size: 12px;
	font-style: italic;
}

p.date {
	text-decoration: underline;
}
textarea {
	width: 100%;
}

button.comment {
	padding: 5px 5px;
}

#textNewsShort {
	resize: none;
	font-size: 15px;
}

#textNewsFull {
	resize: none;
	font-size: 12px;
}

#commentText {
	resize: none;
	font-size: 15px;
}

button.btn-space {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	matgin-bot: 5px;
}

option.authorOption {
	background-color: #ffffff;
}