.selectBox {
	position: relative;
}

.selectBox select {
	width: 150px;
}

.overSelect{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes {
	display: none;
	border: 1px #dadada solid;
	background-color: white;
	width: 150px;
	position: absolute;
}

#checkboxes label {
	display: block;
}