table.menu{
	align: left;
	width: 20%;
	margin-top: 0%;
	border-bottom:20px solid #337ab7;
	border-left:20px solid #337ab7;
	border-right:20px solid #337ab7;
	border-top:20px solid #337ab7;
	position: fixed;
}
ul{
	list-style: circle;
}
a.strong{
	font-weight: bold;
}